.color-text {
    color: rgb(33 37 41);
  }
  
  .subtitulos {
    background: rgb(85 164 103);
    color: rgb(245 252 255);
    border-radius: 0.2em;
  }
  
  h6 {
    font-size: 15px;
    color: rgb(105 105 105);
  }
  
  .subtitulos_sub {
    background: rgb(88 119 141);
    color: rgb(245 252 255);
    border-radius: 0.2em;
  }
  .subtitulos_sub h4 {
    font-size: 16px;
  }
  